{% extends "home/base.html" %}


{% block contant %}
    {% include "navbar/navbar.html" %}
    {% include "hero_section/hero_section.html" %}
    {% include "feature/feature.html" %}
    {% include "about/about.html" %}
    {% include "cta/cta.html" %}
    {% include "pricing/pricing.html" %}
    {% include "testimonial/testimonial.html" %}
    {% include "faq_team/faq_team.html" %}
    {% include "blog/blog.html" %}
    {% include "about/contact.html" %}
    {% include "brand/brand.html" %}
    {% include "footer/footer.html" %}
{% endblock contant %}